%body.impress-not-supported
  .fallback-message
    %p
      Your browser
      %b doesn't support the features required
      by impress.js, so you are presented with a simplified version of this presentation.
    %p
      For the best experience please use the latest
      = succeed "," do
        %b Chrome
      %b Safari
      or
      %b Firefox
      browser.
  #impress
    #bored.step.slide{"data-x" => "-1000", "data-y" => "-1500"}
      %q
        %b DataTables
        %p.question What?
        %p.question Why?
        %p.question How?
    .step.slide{"data-x" => "0", "data-y" => "-1500"}
      %q
        %b What are DataTables?
        %p
          Datatables is a 
          %strong jquery
          plug-in which is based on 
          %strong progressive enhancement
          and adds advanced interaction controls to any html table.
    .step.slide{"data-x" => "1000", "data-y" => "-1500"}
      %q
        %b Why you need DataTables?
        %p 1.) Filtering
        %p 2.) Sorting
        %p 3.) Pagination
        %p 4.) Display data from multiple sources & lot more.
    .step.slide{"data-x" => "2000", "data-y" => "-1500"}
      %q
        %b How to use DataTables?
        %p 1.) Download the datatables package from http://www.datatables.net/download/
        %p.small_text 1.a) Include the DataTables js and css file in your layout's head section.
    .step.slide{"data-x" => "3000", "data-y" => "-1500"}
      %q
        %b How to use DataTables?
        %p 2.) Include in your gemfile gem 'jquery-datatables-rails'
        %p.small_text 2.a) Add the javascript to application.js as //= require dataTables/jquery.dataTables
        %p.small_text 2.b) Add the stylesheet to application.css as //= require dataTables/jquery.dataTables
    .step.slide{"data-x" => "4000", "data-y" => "-1500"}
      %q
        %b Dependencies/Requirements
        %p 1.) jQuery 1.3 or higher
        %p 2.) HTML table format
    .step.slide{"data-x" => "5000", "data-y" => "-1500"}
      %q
        %b HTML table format
        = image_tag 'table_image.png'
    #title.step{"data-scale" => "4", "data-x" => "0", "data-y" => "0"}
  .hint
    %p Use a spacebar or arrow keys to navigate
<script src="assets/impress.js"></script>
:javascript
  impress().init();    
  var api = impress();
  if ("ontouchstart" in document.documentElement) { 
      document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
  }
