// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 
{
  margin-right:530px;
}

.question{
  margin-top:30px;
}

.small_text{
  font-size:25;
}
